<div ng-app="Cineboard">
    <div ng-controller="LibrariesController">
        <div class="wrapper">
            <dtable options="options" rows="librariesData" on-row-click="onRowClick(row)" class="material" on-select="onSelect(row)"
                selected="selected"></dtable>
            <div class="selected-box">
                <h5>Selected list</h5>
                <ul>
                    <li ng-repeat="item in selected">{{ item.title }}</li>
                </ul>
            </div>
        </div>
    </div>