<h2>New Library</h2>
<form>
    <label for="title">Title</label>
    <input required type="text" ng-model="library.title">
    <label for="director">Director</label>
    <input type="text" ng-model="library.director">
    <label for="rating">Rating</label>
    <input type="number" min=0 max=10 ng-model="library.rating">
    <label for="viewed">Viewed</label>
    <input type="number" min=0 max=1 ng-model="library.viewed">
    <label for="tags">Tags</label>
    <input type="text" ng-model="library.tags">
    <label for="url">Url</label>
    <input type="text" ng-model="library.url">
    <button class="btn btn-primary" type="submit" ng-click="saveLibrary(library)">Save</button>
</form>
<p>
    <a class="btn btn-primary" ng-href="#!/">All libraries</a>
</p>