/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  text-align: center;
  background-color: #EEE !important;
}

.currentUser {
  position: absolute;
  right: 2em;
  top: 1.5em;
}

.dt,
.dt-body {
  width: 100% !important;
}

.users .dt {
  width: 200px !important;
}

.btn {
  background: #F79522;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: rgb(225, 121, 2);
}

.menu a {
  color: #333;
}

.menu a:hover {
  color: rgb(225, 121, 2);
}

.selected-box ul {
  padding: 0;
}

.selected-box li {
  list-style-type: none;
}

#globalLoader {
  /* background-color: #262626 ; */
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999999;
}

#globalLoader div.messaging {
  color: #FFFFFF;
  font-family: monospace;
  left: 0px;
  margin-top: -37px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
}

#globalLoader h1 {
  font-size: 26px;
  line-height: 35px;
  margin: 0px 0px 20px 0px;
}

#globalLoader p {
  font-size: 18px;
  line-height: 14px;
  margin: 0px 0px 0px 0px;
}

.row-deleted {
  /* text-decoration: line-through; */
  color: darkgray;
  font-style: italic;
}

.row-deleted button {
  color: #333;
  /* font-style: italic; */
}

.btn-inline {
  background: #F79522;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}